<nav class="navbar is-primary">
  <div class="navbar-brand">
    <a class="navbar-item" href="/feed">
      Pawsitive Vibes
    </a>
    <div class="navbar-burger" data-target="navbarMenu">
      <a class="navbar-item" href="/profile">Profile</a>
      <a class="navbar-item" href="/logout">Logout</a>
    </div>
  </div>
  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/profile">Profile</a>
      <a class="navbar-item" href="/logout">Logout</a>
    </div>
  </div>
</nav>