<link rel="stylesheet" href="css/login.css" />
<div class="container center">
<div class="page">
  <div class="title mb-1">Pawsitive Vibes</div>
  <img src="images/PV Logo.png" class="logo" alt="Pawsitive Vibes Logo">
  <form id="login-form">
    <div class="field">
      <label for="email">Email:</label>
      <div class="control">
        <input class="input has-background-white has-text-black is-small" type="email" name="email" id="email" required />
      </div>
    </div>
    <div class="field">
      <label for="password">Password:</label>
      <div class="control">
        <input class="input has-background-white has-text-black is-small" type="password" name="password" id="password" required />
      </div>
    </div>
    <button type="submit" id="login" name="login">Login</button>
  </form>
  <div class="signup">
    <p>Don't have an account?<button class="button is-ghost is-small" id="signup">Sign up</button></p>
  </div>
</div>

<!--modal-->
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="title mb-15">Sign Up</h1>
    </header>
    <section class="modal-card-body">
      <form id="signup-form">
        <div class="field">
          <label for="username">Username:</label>
          <div class="control">
            <input type="text" id="username" name="username" required>
          </div>
        </div>
        <div class="field">
          <label for="signup-email">Email:</label>
          <div class="control">
            <input type="email" id="signup-email" name="email" required>
          </div>
        </div>
        <div class="field">
          <label for="signup-password">Password:</label>
          <div class="control">
            <input type="password" id="signup-password" name="password" required>
          </div>
        </div>
        <div class="field">
          <label for="confirm-password">Confirm Password:</label>
          <div class="control">
            <input type="password" id="confirm-password" name="confirm-password" required>
          </div>
        </div>
        <fieldset>
          <legend>What are your Interests?:</legend>
          <div>
            <input type="checkbox" id="cats" name="interests" value="Cats" />
            <label for="cats">Cats</label>
          </div>
          <div>
            <input type="checkbox" id="dogs" name="interests" value="Dogs" />
            <label for="dogs">Dogs</label>
          </div>
          <div>
            <input type="checkbox" id="reptiles" name="interests" value="Reptiles" />
            <label for="reptiles">Reptiles</label>
          </div>
        </fieldset>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button type="submit" form="signup-form" class="button is-primary">Submit</button>
    </footer>
  </div>
</div>
</div>
<script src="js/login.js"></script>
