{{> navbar this }}
<section class="section profile-page">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <div class="box">
          <h2 class="title is-4">About Me</h2>
          <p>Username: <span id="user-name">{{user.username}}</span></p>
          <p>Email: <span id="user-email">{{user.email}}</span></p>
          <p>Animals Interested In: <span id="user-interests">{{add_spaces user.favorite_animals}}</span></p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h2 class="title is-4">User Posts</h2>
          {{#each posts}}
            {{> post }}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
