<nav class="navbar is-primary">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      Pawsitive Vibes
    </a>
    <div class="navbar-burger" data-target="navbarMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/feed">Feed</a>
      <a class="navbar-item" href="/profile">Profile</a>
      <a class="navbar-item" href="#">Logout</a>
    </div>
  </div>
</nav>

<section class="section profile-page">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <figure class="image is-128x128">
          <img src="{{user.imageUrl}}" alt="Profile Picture">
        </figure>
        <div class="box">
          <h2 class="title is-4">About Me</h2>
          <p>{{user.about}}</p>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="/feed">Feed</a>
                <a class="navbar-item" href="/profile">Profile</a>
                <a class="navbar-item" href="/logout">Logout</a>
            </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h2 class="title is-4">User Posts</h2>
          {{#each user.posts}}
          <div class="post">
            <figure class="image is-4by3">
              <img src="{{this.imageUrl}}" alt="Post Image">
            </figure>
            <p>{{this.description}}</p>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/profile.js"></script>
