body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/Pets.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}